<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Database table</title>
        <script type="text/javascript" src="js/ajaxRequest.js" ></script>
    </head>
<body>


<form onsubmit="loadTable(); return false">

    <select  name="searchType" id="searchType" required>
        <option value="">select search type</option>
        <option th:value="${T(com.example.rekrutacjasuncode.Dao.SearchType).UNIQUE}" th:text="unique"></option>
        <option th:value="${T(com.example.rekrutacjasuncode.Dao.SearchType).COMMON}" th:text="common"></option>
        <option th:value="${T(com.example.rekrutacjasuncode.Dao.SearchType).ALL}" th:text="full"></option>
    </select>

    <select  name="column" id="column" required>
        <option value="">select option</option>
        <option th:each="column : ${columns}" th:value="${column}" th:text="${column}"></option>
    </select>

    <button type="submit">Get rows</button>
</form>


<div id="table">

</div>

</body>
</html>